.video {
	border-radius: 15px;
	overflow: hidden;
	&__image {
		width: 100%;
		display: block;
		margin-right: auto;
	}

	&__progress {
		height: 3px;
		background-color: #fff;

		&_inner {
			height: 3px;
			background-color: red;
		}
	}

	&__control {
		display: flex;
		align-items: center;
	}

	&__items {
		display: flex;
		align-items: center;
		gap: 10px;
		padding: 10px 15px;
		background-color: rgb(1, 1, 24);
		flex: 1 1 auto;

		> button {
			border: none;
			background-color: transparent;
			cursor: pointer;

			svg {
				font-size: 25px;
				fill: #fbfafc;
				transition: all 0.3s ease 0s, font-size 0.3s;
				@media (any-hover: hover) {
					&:hover {
						fill: #fff;
					}
				}
			}
		}
		[data-tooltip] {
			position: relative;
			z-index: 113;
		}

		[data-tooltip]:hover::before {
			content: attr(data-tooltip);
			position: absolute;
			bottom: 100%;
			left: 50%;
			transform: translateX(-50%);
			background-color: rgba(0, 0, 0, 0.8);
			color: #fff;
			padding: 5px 10px;
			border-radius: 4px;
			white-space: nowrap;
			z-index: 999;
		}
	}

	&__times {
		display: flex;

		gap: 10px;
	}

	&__screen {
		margin-left: auto;
	}
}
