.movies {
	position: absolute;
	z-index: 22;
	padding: 15px;
	display: grid;
	gap: 10px;

	width: 100%;

	top: 30px;
	left: 0;

	&__item {
		border-radius: 8px;
		border: 2px solid #293ce7;
		overflow: hidden;
		position: relative;
		height: 90px;
		img {
			object-fit: cover;
			transition: transform 0.3s ease 0s;
			@media (any-hover: hover) {
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}
