.title {
   font-size: 32px;
   color: rgb(99, 93, 93);
   font-weight: 700;
}

.subtitle {
   font-size: 28px;
   color: rgb(99, 93, 93);
   font-weight: 600;
}

.description {
   font-size: 18px;
   color: rgb(46, 43, 43);
   font-weight: 500;
}