.rdw-editor-main {
   min-height:300px ;
   background-color: #282828;
   color: rgb(209, 206, 206);
   padding: 10px 20px;   
}

.rdw-editor-toolbar {
   padding: 10px 10px;
   background-color: #282828;
   border: 1px solid #797676;
   margin: 0px 0px 10px 0px;
}

.rdw-option-wrapper {
   border: none;
   background-color: #797676;
}

.rdw-inline-wrapper {
   margin: 0px 0px 0px 0px;
}
.rdw-inline-list {
   margin: 0px 0px 0px 0px;
}