.button {
   display: inline-flex;
   background-color: transparent;
   border: none;
}

.color {
   display: block;
   width: 20px;
   height: 20px;
   border-radius: 50%;
   background-color: rgb(126, 4, 4);
}